/* Background image styling */
body {
  background-image: url('../images/home-bg.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main styling */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0px;
  height: calc(100% - 100px);
  width: 100%;
  min-height: 650px;
}

/* Extended text box / Card styling */
.textBox {
  width: 423px;
}

.textBox div {
  margin: 10px;
}

/* Italics quote styling */
.quoteText {
  font-size: 1.3em;
  font-family:'Times New Roman', Times, serif;
  color: #fff;
  margin: 0px;
}

.textBox div div h1 {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Container used to narrow the card into a centered div 960px wide and then sending it to the right of the div */
.pageContainer {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* Div for indenting the quote */
.quote {
  padding-left: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

/* Feature text styling */
.featureText {
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Feature text styling on hover */
.featureText:hover {
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,0.7);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* For the "Step into the rabbit hole" text styling */
.bodyText {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Pill Styling */
.pillImg {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillImg a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pill Animation */
.pillImg:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
