html, body {
  height: 80vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

nav {
  top: 0;
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  position: relative;
  margin: 10px 20px 0px 20px;
  width: 100%;
  min-width: 960px;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bgImg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100vh;
  left: 0;
} */

header {
  position: relative;
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 155px;
  height: 63px;
}

.navList {
  width: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navList li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
}

.navList li a::after {
  text-decoration: none;
  content: '';
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.navList li a:hover::after {
  text-decoration: none;
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.basketButton {
  width: 15%;
}

.basketImg {
  cursor: pointer;
  width: 30px;
}

.basketImg:hover {
  cursor: pointer;
  width: 33px;
}

.mapBox {
  width: 60%;
  margin: 2.5em 2.5em auto auto;
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

  ont-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
}

.mapBox img {
  margin: 2.5%;
  width: 95%;
}

.mapBox p {
  margin: 2.5%;
}

.mapBox ul {
  padding-bottom: 2em;
}

.ULred {
  border-bottom: 1px solid red;
}

.ULblue {
  border-bottom: 1px solid blue;
}
