.textBox {
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 300px;
  min-height: 35em;
}

.buyButton {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border:none;
  background-color: #3ddc84;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.textBox div {
  margin: 10px;
}

.priceText {
  font-family:'Times New Roman', Times, serif;
  color: #3ddc84;
  font-size: 2.5em;
}

.packageContainer {
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-between;
  align-items: center;
}

.quoteText {
  font-size: 1.3em;
  font-family:'Times New Roman', Times, serif;
  color: #fff;
  margin: 0px;
}

.textBox div div h1 {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0px;
  height: 100%;
}

.quote {
  padding-left: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

.featureText {
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.featureText:hover {
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,0.7);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bodyText {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Pill Styling */
.pillImg {
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillImg a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Pill Animation */
.pillImg:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
